
.pwa-alerts-wrapper {
    padding: 10px;
    border: 2px solid #ff5722;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
}

.pwa-alert {
    padding: 10px;
    margin: 5px 0;
    line-height: 1.4;
    text-align: center;
}

.pwa-alert-title {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2;
}

.pwa-alert-time {
    font-size: 1em;
    color: #ff9800;
    line-height: 1.2;
}

.pwa-no-alerts {
    font-size: 1.2em;
    color: #4caf50;
    text-align: center;
}

.pwa-profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    flex-direction: column;
}
